body.cl-app-guest main.main-content-container div.main-content-container-inner {
  display: block !important; }
  body.cl-app-guest main.main-content-container div.main-content-container-inner div.timeline-container-wrapper {
    display: block !important;
    max-width: 100% !important;
    min-width: 100% !important; }
  body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container {
    display: block;
    width: 100%; }
    body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.carousel.welcome-page-slider {
      position: fixed;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1; }
      body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.carousel.welcome-page-slider:after {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        content: "";
        background-color: rgba(0, 0, 0, 0.4); }
      body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.carousel.welcome-page-slider div.carousel-inner {
        width: 100%;
        height: 100%; }
        body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.carousel.welcome-page-slider div.carousel-inner div.carousel-item {
          width: 100%;
          height: 100%;
          background-position: center;
          background-attachment: fixed;
          background-size: cover; }
    body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container {
      width: 100%;
      display: block;
      position: relative;
      z-index: 2;
      padding-top: 50px;
      padding-bottom: 50px; }
      body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.left-part {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%; }
        body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.left-part h1.welcome-title {
          color: #fff;
          font-size: 32px;
          line-height: 32px;
          white-space: nowrap;
          padding: 0;
          margin: 0 0 30px 0;
          font-weight: bold; }
        body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.left-part p.welcome-text {
          font-size: 14px;
          line-height: 24px;
          color: #fff;
          margin: 0;
          padding: 0;
          font-weight: 300; }
        body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.left-part div.trending-htags {
          width: 100%;
          display: block;
          margin-top: auto;
          line-height: 0;
          margin-bottom: 20px; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.left-part div.trending-htags a {
            color: #fff;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
            margin-right: 5px;
            font-weight: 500; }
      body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part {
        width: 100%;
        display: block; }
        body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form {
          background: #fff;
          border-radius: 5px;
          padding: 30px;
          width: 100%;
          display: block;
          line-height: 0px; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.login-or-signup {
            line-height: 0;
            text-align: center;
            margin: 10px 0px; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.login-or-signup small {
              font-size: 11px;
              line-height: 11px;
              color: #657786;
              text-transform: uppercase; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.oauth-login-providers {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.oauth-login-providers a.social-login-btn {
              border: none;
              box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 10px 0px;
              background: none;
              color: #fff;
              padding: 0;
              line-height: 0;
              outline: 0;
              overflow: hidden;
              border-radius: 5em;
              margin: 0px 5px;
              height: 34px;
              width: 34px;
              position: relative; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.oauth-login-providers a.social-login-btn span.icon {
                width: 15px;
                height: 15px;
                line-height: 0px;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto; }
                body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.oauth-login-providers a.social-login-btn span.icon svg {
                  width: 15px;
                  height: 15px;
                  fill: #fff; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.oauth-login-providers a.social-login-btn.twitter {
                background: #64ccf2; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.oauth-login-providers a.social-login-btn.facebook {
                background: #507cc0; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.oauth-login-providers a.social-login-btn.google {
                background: #df4931; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement {
            width: 100%;
            display: block;
            line-height: 0px; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-header {
              width: 100%;
              line-height: 0px;
              text-align: center;
              margin-bottom: 20px; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-header span {
                font-size: 10px;
                line-height: 16px;
                color: #657786; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-header a {
                font-size: 10px;
                line-height: 16px;
                color: #1ca1f3;
                font-weight: 500; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-body {
              width: 100%;
              line-height: 0px;
              text-align: center;
              margin-bottom: 15px; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-body a {
                font-size: 12px;
                line-height: 16px;
                color: #14171a;
                font-weight: 500;
                opacity: 0.7; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-footer {
              width: 100%;
              line-height: 0px;
              text-align: center;
              position: relative;
              padding-top: 15px; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-footer:before {
                content: "";
                position: absolute;
                left: 20%;
                right: 20%;
                top: 0px;
                height: 1px;
                background: #e6ecf0; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-footer span {
                font-size: 10px;
                line-height: 16px;
                color: #657786; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.tos-agreement div.block-footer a {
                font-size: 10px;
                line-height: 16px;
                color: #1ca1f3;
                font-weight: 500;
                opacity: 0.7; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.form-group label {
            font-size: 11px; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.form-group input {
            height: 40px;
            border: 1px solid #e6ecf0;
            border-radius: 5px;
            background: #fff; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.form-group input::placeholder {
              font-size: 11px; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.form-group input:hover, body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.form-group input:active {
              border: 2px solid #1ca1f3; }
              body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.form-group input:hover::placeholder, body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.form-group input:active::placeholder {
                color: #1ca1f3; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.welcome-back {
            width: 100%;
            display: block;
            margin-bottom: 20px; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.welcome-back h5 {
              font-size: 24px;
              line-height: 20px;
              color: #1ca1f3;
              padding: 0;
              margin: 0 0 7px 0;
              font-weight: 700; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.right-part div.login-form div.welcome-back p {
              font-size: 11px;
              color: #657786;
              padding: 0;
              margin: 0;
              line-height: 11px; }
      body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.welcome-footer {
        width: 100%;
        display: block;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid rgba(230, 236, 240, 0.45); }
        body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.welcome-footer ul.footer-nav {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;
          line-height: 0px;
          list-style-type: none; }
          body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.welcome-footer ul.footer-nav li.footer-nav {
            line-height: 0px;
            margin-right: 10px; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.welcome-footer ul.footer-nav li.footer-nav > a {
              font-size: 11px;
              color: #fff;
              line-height: 20px;
              opacity: 0.7; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.welcome-footer ul.footer-nav li.footer-nav.dropdown > a {
              text-decoration: none; }
            body.cl-app-guest main.main-content-container div.main-content-container-inner div.welcome-page-container div.welcome-page-content-container div.welcome-footer ul.footer-nav li.footer-nav:last-child {
              margin-left: auto;
              margin-right: 0px; }
body.cl-app-guest div.modal div.auth-modal-window {
  padding: 20px; }
  body.cl-app-guest div.modal div.auth-modal-window div.form-title {
    width: 100%;
    display: block;
    line-height: 0;
    text-align: center;
    margin-bottom: 25px; }
    body.cl-app-guest div.modal div.auth-modal-window div.form-title div.logo {
      width: 100%;
      display: block;
      text-align: center;
      margin-bottom: 5px; }
      body.cl-app-guest div.modal div.auth-modal-window div.form-title div.logo a {
        text-decoration: none;
        line-height: 0; }
        body.cl-app-guest div.modal div.auth-modal-window div.form-title div.logo a img {
          width: 50px;
          height: 50px; }
    body.cl-app-guest div.modal div.auth-modal-window div.form-title h4 {
      color: #14171a;
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      margin: 0 0 10px 0;
      padding: 0; }
    body.cl-app-guest div.modal div.auth-modal-window div.form-title p {
      font-size: 12px;
      color: #657786;
      padding: 0;
      margin: 0;
      line-height: 20px; }
  body.cl-app-guest div.modal div.auth-modal-window label.tos-agree span {
    font-size: 11px;
    color: #657786;
    line-height: 16px; }
  body.cl-app-guest div.modal div.auth-modal-window label.tos-agree a {
    font-size: 11px;
    color: #1ca1f3;
    line-height: 16px; }
  body.cl-app-guest div.modal div.auth-modal-window div.form-group div.cell-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
    body.cl-app-guest div.modal div.auth-modal-window div.form-group div.cell-row div.cell-50 {
      max-width: calc(50% - 10px);
      min-width: calc(50% - 10px);
      width: calc(50% - 10px);
      flex-basis: calc(50% - 10px); }
  body.cl-app-guest div.modal div.auth-modal-window div.form-group input {
    height: 44px;
    border: 1px solid #e6ecf0;
    border-radius: 5px;
    background: #fff; }
    body.cl-app-guest div.modal div.auth-modal-window div.form-group input::placeholder {
      font-size: 11px; }
    body.cl-app-guest div.modal div.auth-modal-window div.form-group input:hover, body.cl-app-guest div.modal div.auth-modal-window div.form-group input:active {
      border: 2px solid #1ca1f3; }
      body.cl-app-guest div.modal div.auth-modal-window div.form-group input:hover::placeholder, body.cl-app-guest div.modal div.auth-modal-window div.form-group input:active::placeholder {
        color: #1ca1f3; }

/*# sourceMappingURL=style.master.css.map */
